<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main class="contenedor">
        <form id="formulario">
            <article class="linea">
                <h1>Login</h1>
                <table class="Datos">
                        <tr>
                            <td><b class="titulo">Email</b></td>
                            <td><input class="campo" type="email" name="email" id="email" required></td>
                        </tr>
                        <tr>
                            <td><b class="titulo">Password</b></td>
                            <td><input  class="campo" type="password" name="password" id="password" required></td>
                        </tr>
                </table>
            </article>
            <article>
                <% for (var x in errores) { %>
                    <h4><%= errores[x] %></h4>
                <% } %>
            </article>
            <article  class="lineabtn">
                <div><button id="login">Ingresar!</button></div>
                <div><button id="nuevo">Registrate!</button></div>
            </article>
        </form>
    </main>
    <script src="js/script-login.js"></script>
</body>
</html>