<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main class="contenedor">
        <form id="formulario">
            <article class="linea">
                <h1>Datos Ingresados</h1>
                <table class="Datos">
                        <tr>
                            <td><b class="titulo">Nombre</b></td>
                            <td><%=usuario.first_name%></td>
                        </tr>
                        <tr>
                            <td><b class="titulo">Apellido</b></td>
                            <td><%=usuario.last_name%></td>
                        </tr>
                        <tr>
                            <td><b class="titulo">Email</b></td>
                            <td><%=usuario.email%></td>
                        </tr>
                </table>
            </article>
            <article>
                <% for (var x in errores) { %>
                    <h4><%= errores[x] %></h4>
                <% } %>
            </article>
            <article  class="lineabtn">
                <div><button id="volver">Volver!</button></div>
            </article>
        </form>
    </main>
    <script src="js/script-registrar-result.js"></script>
</body>
</html>